.about-me-body-container{
  width: 100%;
  height: 100%;
}

.about-me-body-paragraph{
  width: 100%;
  height: 450px;
  line-height: 1.8;
  overflow: scroll;
  color: rgb(57, 57, 57);
  font-weight: 200;
  font-size: 14px;
}