.main-body-container {
  display: flex;
}

.left-container, .mid-container, .right-container { 
  width: 33.33%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 50px rgb(182, 182, 182);
  margin-bottom: 30px;
}

.icon-container{
  width: 100%;
  height: 80px;
}

.menu-background{
  opacity: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition:  300ms ease-in-out;
  pointer-events: none;
}
.active-menu-background{
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}