* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  scrollbar-width: thin;
  scrollbar-color: rgba(224, 224, 224, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(231, 231, 231, 0.5);
  border-radius: 20px;
  border: transparent;
}


body {
  width: 100%;
  height: 100vh;
}


@import './_mainbodycontainer.scss';
@import './_button.scss';
@import './socialicon';
@import './modal';
@import './aboutmemodalbody';